$color-background = #1d1f21
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = rgba(212, 128, 170, 1)
$color-text = #c9cacc
$color-accent-3 = #DAC4F7
$color-accent-2 = #10FFCB
$color-accent-1 = #9381FF
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"
